
@{
    ViewBag.Title = "Index";
}

@model List<WebMB.Areas.Admin.Models.CartViewModel>

<main>
    <table class="customers">
        <tr>
            <td>Số HD</td>         
            <td>Thông tin đơn hàng</td>
            <td>Ngày mua</td>
            <td>Địa chỉ</td>
            <td>SDT</td>
            <td>Tổng hóa đơn (VNĐ)</td>
            <td>Tình trạng đơn hàng</td>
            <td>Xác nhận giao thành công</td>
            <td>Xác nhận giao thất bại</td>
        </tr>
        <tr>
            @foreach (var item in Model)
            {
            <tr>

                <td>@item.order.ID</td>
               
                <td>
                    @foreach (var item2 in ViewBag.Orderview)
                    {

                        if (item.order.ID == item2.orderDetail.OrderID)
                        {
                            <p>@item2.Product.name   X @item2.orderDetail.Quantity</p>
                        }
                    }
                </td>
                <td>@item.order.CreateDate</td>
                <td>@item.order.Address</td>
                <td>@item.order.Phone</td>
                <td>
                    @{
                        decimal total = 0;
                        foreach (var item4 in ViewBag.OrderviewAdmin)
                        {
                            if (@item.order.ID == item4.orderDetail.OrderID)
                            {
                                total = total + item4.orderDetail.Price;

                            }
                        }
                }
                @total
            </td>
            <td>@item.statusOrder.statusName</td>

            <td>
                <a href="~/Admin/Delivery/AcceptOrder?orderID=@item.order.ID"
                   class="btn btn-primary btn-success ">Xác Nhận</a>
            </td>
            <td>
                <a href="~/Admin/Delivery/DeclineOrder?orderID=@item.order.ID"
                   class="btn btn-primary btn-danger ">Hủy Đơn</a>
            </td>
        </tr>
    }


        </table>
    </main>

